* {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Goldman", cursive;
    color: white;
}
main {
    /*Opdracht 4.3*/
    background-image: url("./img/hacker.png");
    background-color: black; /* Used if the image is unavailable */
    width: 100%;
    height: 100vh ; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain;
}
main img {
    width: fit-content;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}
  
/* Opdracht 3.1*/
.tekst
{
    color:white;
    font-size: 24px;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: circle;
}
  
.tekst2
{
    color:white;
    font-size: 24px;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Opdracht 4.3*/
footer {
  height: 10vh;
  background-color: #00a8c7;
  color: white;
  font-family: "Goldman", cursive;
}
title {
  font-weight: bold;
}
  
/* Opdracht 4.3
Zorg dat de hacker afbeelding als achtergrond wordt laten zien. Kijk goed naar het ontwerp V
Breedte is de breedte van het scherm V?
Hoogte is de hoogte van het scherm V?
Tip: de navigatiebar heeft ook een hoogte, deze mag je niet mee berekenen. V
Elke section heeft een hoogte en een breedte van het scherm. V
De hele website heeft een zwarte achtergrond kleur. V
De footer heeft dezelfde kleur als de navigatiebar V
Bepaal de hoogte van de footer V
Verander de lettertype naar Goldman, te vinden op Google Fonts ?
Alle titels zijn dikgedrukt 
*/
