/*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*/
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
  /* Code komt van *{} vandaan */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*Nieuw*/
  background-image: url("./img/hacker.png");
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 100%; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to cover the entire container */
}


nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

/* Nieuw */

.tekst
{
  font-size: 24px;  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style-type: circle;
}

.tekst2
{
  font-size: 24px;  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*
    Zorg dat de hacker afbeelding als achtergrond wordt laten zien. Kijk goed naar het ontwerp
    Breedte is de breedte van het scherm
    Hoogte is de hoogte van het scherm
    Tip: de navigatiebar heeft ook een hoogte, deze mag je niet mee berekenen.
    Elke section heeft een hoogte en een breedte van het scherm.
    De hele website heeft een zwarte achtergrond kleur.
    De footer heeft dezelfde kleur als de navigatiebar
    Bepaal de hoogte van de footer
    Verander de lettertype naar Goldman, te vinden op Google Fonts
    Alle titels zijn dikgedrukt
*/