* {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    box-sizing: border-box;
}

nav ul {
    list-style-type:none;
    display:flex;
}
a {
    text-decoration: none;
    color: blue;
    font-size: 1.5vw;
}


.logo {
    flex: 0.25 1 0;
    background-color: lightblue;
    text-align: center;
    }

.nav {
    flex: 0.5 1 0;
    background: lightcoral;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    text-align: flex-start;
    }

.login {
    flex: 0.25 1 0;
    background-color: lightgoldenrodyellow;
    text-align: center;
    }

